# General Modules
django >5.2, <5.3
python-decouple
djangorestframework

# 3rd party modules
drf-yasg[validation]
markdown
django-filter
djoser


# Refactoring and Tests!
black
flake8
pytest
pytest-django
Faker

# Background proccess and Cache
celery
redis
django-celery-beat